QTreeView::branch {
	background: palette(base);
}

QTreeView::branch:has-siblings:!adjoins-item {

}

QTreeView::branch:has-siblings:adjoins-item {

}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
  
}

QTreeView::branch:closed:has-children:has-siblings {
	background: url("images/folder.png") no-repeat;
}

QTreeView::branch:has-children:!has-siblings:closed {
	background: url("images/folder.png") no-repeat;
}

QTreeView::branch:open:has-children:has-siblings {
	background: url("images/folder.png") no-repeat;
}

QTreeView::branch:open:has-children:!has-siblings {
	background: url("images/folder.png") no-repeat;
}
